<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqYzE3cVGJt_X3-WUoi3HkcRmlEtDIqh4</string>
	<key>GCM_SENDER_ID</key>
	<string>802780236204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.pinkgossip</string>
	<key>PROJECT_ID</key>
	<string>pinkgossip-936f9</string>
	<key>STORAGE_BUCKET</key>
	<string>pinkgossip-936f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:802780236204:ios:73d1342041206fb1245209</string>
	<key>CLIENT_ID</key>
	<string>645316594420-97f3h3hctnt1n2nt04hka48h2647hdl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645316594420-97f3h3hctnt1n2nt04hka48h2647hdl6</string>
	<key>DATABASE_URL</key>
	<string>https://pinkgossip-936f9-default-rtdb.firebaseio.com</string>
</dict>
</plist>
